global
  maxconn 15000 # Max simultaneous connections from an upstream server
  spread-checks 5 # Distribute health checks with some randomness
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
  #debug # Uncomment for verbose logging

defaults # Apply to all services
  log global
  mode http
  balance roundrobin
  option abortonclose # abort request if client closes output channel while waiting
  option httpclose # add "Connection:close" header if it is missing
  option forwardfor # insert x-forwarded-for header so that app servers can see both proxy and client IPs
  option redispatch # any server can handle any session
  timeout client 60s
  timeout connect 9s
  timeout server 30s
  timeout check 5s
  stats enable
  stats uri /isula-ha-stats
  stats realm Haproxy\ Statistics
  stats auth isula:isula-haproxy # Real credentials redacted
  monitor-uri /monitor # Returns 200 if we're up; real path redacted
  errorfile 503 /etc/haproxy/errors/503.http

frontend incoming
  bind *:80
  reqadd X-Forwarded-Proto:\ http
  <% @sites.each do |client_site| %>
  acl <%= client_site.fe %> hdr_dom(host) -i <%= client_site.fqdn %>
  use_backend <%= client_site.be %> if <%= client_site.fe %>
  <% end %>
  default_backend static_map
<% @sites.each do |client_site| %>
# <%= client_site.fqdn %>
backend <%= client_site.be %>
  option httpchk /app-running
  <% @backends.each do |backend| %>server <%= backend %>:80 check inter 5000 fastinter 1000 fall 1 weight 1
  <% end %>
<% end %>

backend static_map
  errorfile 200 /etc/deadend.html
